html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
    background-color: darkgray;
  }
  
  body {
    margin: 50px;
  }
  
  svg {
    display: inline-block;
    vertical-align: middle;

  }

  svg.rsm-svg {
    background-color: white;

  }
  .controls {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    margin: 1.25rem 0;
    text-align: center;
    transform: translateX(-50%);
  }
  
  .controls > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 2rem;
    width: 2rem;
    background: #ff5533;
    color: #fff;
    border-radius: 100%;
    border: 0;
  }
  .controls > button:first-child {
    margin-right: 0.25rem;
  }

  .__react_component_tooltip {
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

/* Define the styles for the tooltip */
.tooltip {
  background-color: #333;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0.8;
  max-width: 200px;
  text-align: center;
}

/* Define the arrow for the tooltip */
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent #333 transparent;
}