html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
    background-color: darkgray;
  }
  
  body {
  }


  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    border-bottom: solid;
}

.text-center.p-3 {
  border-top-style: solid;
}
  

  .content-body {
    min-height: 78vh;

  }

  .teams > li {
    background-color: white;
  }

  .teams > li > img {
    margin-top: 10px;
    height: 80px;
    width: 140px;
    display: flex;
    margin-inline: auto;
    background: white;
    padding: 11px;
    border-radius: 20px;
}
  
  img.logo {
    width: 35px;
}
  
  svg {
    display: inline-block;
    vertical-align: middle;

  }

  svg.rsm-svg {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;


  }
  .controls {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 12.40rem 0;
    text-align: center;
    transform: translateX(-50%);
  }
  
  .controls > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 2rem;
    width: 2rem;
    background: #ff5533;
    color: #fff;
    border-radius: 100%;
    border: 0;
  }
  .controls > button:first-child {
    margin-right: 0.25rem;
  }

  .__react_component_tooltip {
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

/* Define the styles for the tooltip */
.tooltip {
  background-color: #333;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0.8;
  max-width: 200px;
  text-align: center;
}

/* Define the arrow for the tooltip */
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent #333 transparent;
}

h1 {
  background: beige;
  text-align: center;
}

.modal-image {
  max-width: 100%;
  height: auto;
}
.nextRace > h2,p {
  text-align: center;
  margin: 0px;
}

li {
  list-style: none;
  border: solid;
  background-color: aliceblue;
  text-align: center;
  border-radius: 25px;
  margin: 5px;
 

}

ul {
  padding-left: 15%;
  padding-right: 15%;
}


.row {
  width: 959px;
  margin: 0 auto;
}
